body {
  background-color: #e7e7e7;
}

body, p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

p, li {
  line-height: 23px;
}

#header {
  background-color: #41c7a5;
  position: relative;
  padding-top: 1em;
}

/*#header .container {
  width: 1178px; 
  padding-left: 238px;
}*/

#header img {
  max-width: 100%;
}


#navmenu {
  background-color: white;
  position: relative;
}

.join-bar-before {
  position: relative;
  padding-top: 2em;
}

.join-bar {
  position: relative;
  background-color: white;
  text-align: center;
  background-image: url(/img/05_03.png);
  background-repeat: repeat-x;
  background-position: center center;
  height: 320px;
}


.blog-link {
  background-image: url(/img/blog.png);
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -99999px;
  overflow: hidden;
  /*margin: auto;*/
  position: absolute;
  top: 0.7em;
  right: 0.1em;
  z-index: 1030;
  width: 85px;
  height: 69px;
}

.blog-link:hover {
  background-image: url(/img/Blog_hover.png);
}


.join-bar a._05_02 {height:329px;width:440px;background-position:0 0;}
.join-bar a._05_02:hover {height:329px;width:440px;background-position:0 -329px;}

.blog-link a {
  position: absolute;
  top: 0;
  right: 0;
}
.blog-link a:hover {

}

#stanze {
  position: relative;
}

.Blog_hover{height:69px;width:85px;background-position:0 0;}


#navmenu .container {
}

.line {
  height: 7px;
  width: 100%;
  z-index: 900;
  position: absolute;
  bottom: -3px;
  left: 0px;
  background-image: url('../img/Linie_weiss.png');
  background-repeat: repeat-x;
}

#header .line,
#navmenu .line {

}

#navmenu ul {
  list-style-type: none;
  margin: 5px 0 2px 0;
  display: block;
}

#navmenu ul li {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  text-align: center;
  margin-right: -5px;
  background-repeat: no-repeat;
  text-transform: uppercase;
  font-weight: 900;
}

#navmenu ul li a {
  display: block;
  color: #000;
  padding-top: 13px;
}

#navmenu ul li a:hover {
  text-decoration: none;
}

.SLC {
  background-image:url(../img/sprite.png);
  background-repeat:no-repeat;
  display:block;
  /*text-indent:-99999px;*/
  overflow:hidden;
}

.b_01{height:47px;width:140px;background-position:0 0;}
.b_01:hover{height:47px;width:140px;background-position:-140px 0;}
.b_02{height:45px;width:190px;background-position:0 -47px;}
.b_02:hover{height:45px;width:190px;background-position:0 -92px;}
.b_03{height:45px;width:203px;background-position:0 -137px;}
.b_03:hover{height:45px;width:203px;background-position:0 -182px;}
.b_04{height:46px;width:195px;background-position:0 -227px;}
.b_04:hover{height:46px;width:195px;background-position:0 -273px;}
.b_05{height:46px;width:139px;background-position:-203px -182px;}
.b_05:hover{height:46px;width:139px;background-position:-203px -228px;}
.b_06{height:43px;width:73px;background-position:-190px -47px;line-height:18px;}
.b_06:hover{height:43px;width:73px;background-position:-263px -47px;}
.b_06 a{
	padding-left:6px;
}

.section-title {
  background-image: url(../img/linie_rot.png);
  background-repeat: repeat-x;
  background-position: left bottom;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.section-title img {
  margin-bottom: -20px;
}

.message {
  margin-top: 1em;
  margin-bottom: 1em;
}

.container.samples .img-row {
  text-align: center;
}

.container .video-row {
  text-align: center;
  margin: 10px auto 30px;
}

.container.samples a img {
  margin: 0.5em;
}

.container .questions {
  height: 149px;
  position: relative;
  margin-left: 7px;
  background-image: url(../img/02_01.png);
  background-repeat: no-repeat;
}

.container .questions div {
  position: absolute;
  text-align: center;
  font-size: 1em;
}

.questions #sp_01 {
  top: 35px;
  left: 120px;
  width: 160px;
}

.questions #sp_02 {
  top: 24px;
  left: 323px;
  width: 170px;
}

.questions #sp_03 {
  top: 60px;
  left: 524px;
  width: 170px;
}

.questions #sp_04 {
  top: 27px;
  left: 734px;
  width: 170px;
}

.social-footer {
  text-align: right;
}

.social-footer a {
  text-decoration: none;
}

.social-footer a:hover {
  text-decoration: none;
}

.center-img {
  text-align: center;
}

.right-img {
  text-align: right;
}

.top-pad {
  padding-top: 2em;
}

p.low {
  padding-top: 3em;
}

ul.wantlist li {
  line-height: 23px;
  margin-bottom: 1em;
}

.timeline-entry {
  text-align: center;
  font-weight: 900;
}

footer {
}

.snapshot {
  margin: 10px 0;
}

#disqus_thread {
  margin-top: 50px;
}

.blog {
  margin-top:25px;
}

.post-title {
  margin:25px 0;
}
