---
layout: base
---

<div id="header">
  <div class="container">
    <div id="stanze">
      <a href="/">
        <img src="/img/BLOG_header.png" alt="Stadt Land Code - Blog"/>
      </a>
    </div>
  </div>
  <div class="line"></div>
</div>
<div id="navmenu">
  <div class="container">
    <p><br>
      Berichtet hier über eure Projekte im Bereich Civic Apps! <br>
      Schickt uns eine email an: <a href="mailto:info@stadtlandcode.de">info@stadtlandcode.de</a> oder macht Pull-Request auf <a href="https://github.com/okfde/stadtlandcode.de"> GitHub</a>.
 <br>
  </div>
  <div class="line"></div>
</div>
      
</div>


<div class="container">
  {{ content }}
</div>